.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.page__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
}

.page__title {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.page__container {
  width: 100%;
  height: calc(
    100% - 32px - 16px - 24px
  ); /* -header_height -button_height - column_gap */
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.039) 0px 3px 20px;
}
