.content__right {
  padding: 0px 12px;
  display: flex;
  align-items: start;
}

.download {
  cursor: pointer;
  color: #147fc4;
}

.suggestion {
  padding-left: 16px;
}

.suggestion-label {
  font-size: 24px;
  margin-left: 16px;
}

.suggestion-content {
  margin-left: 66px;
}

.suggest-list li {
  margin-top: 12px;
  font-size: 14px;
}

.content__left-download-template {
  column-gap: 12px;
  font-size: 14px;
  margin: 8px 0px;
}
