/*== x keyframes ==*/
@keyframes x-right--in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes x-right--out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes x-left--in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes x-left--out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*== y keyframes ==*/
@keyframes y-bottom--in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes y-bottom--out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes y-top--in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes y-top--out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*== opacity keyframes */
@keyframes opacity--in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity--out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes search-input--focus {
  0% {
    width: "100px";
  }

  100% {
    width: "200px";
  }
}

@keyframes search-input--blur {
  0% {
    width: "200px";
  }

  100% {
    width: "100px";
  }
}
